.navbar {
  background: #ddd6d6;
  grid-area: nav;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  border-bottom: 1px solid lightgrey;
}
.nav_icon {
  display: none;
}
.nav_icon > i {
  font-size: 26px;
  color: #4c4e4e;
}
.navbar_left > a {
  margin-right: 30px;
  text-decoration: none;
  color: #525659;
  font-size: 15px;
  font-weight: 700;
}
.navbar_left .active_link {
  color: green;
  border-bottom: 2px solid green;
  padding-bottom: 12px;
}
.navbar_right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar_right > a {
  margin-left: 20px;
  text-decoration: none;
}
.navbar_right > a > i {
  color: gray;
  font-size: 16px;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 2px 2px 5px white, -2px -2px 5px white;
  padding: 7px;
}
@media only screen and(max-width:768px) {
  .nav_icon {
    display: inline;
  }
}
@media only screen and(max-width:425px) {
  .navbar_left {
    display: none;
  }
}
