@import url("https://fonts.googleapis.com/css2?family=Lato:wgh@300;400;700&display=swap");
::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: green;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: gray;
}

* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.text-primary-p {
  color: #a5aaad;
  font-size: 14px;
  font-weight: 700;
}
.font-bold {
  font-weight: 700;
}
.text-title {
  color: #2e4a66;
}
.text-lightblue {
  color: green;
}
.text-red {
  color: red;
}
.text-yellow {
  color: yellow;
}
.text-green {
  color: green;
}
.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.8fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "slidebar nav nav nav"
    "slidebar main main main";
}

@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "nav"
      "main";
  }
}
